<!DOCTYPE html>
<html th:lang="${lang}" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<th:block th:insert="fragments/common.html :: head"></th:block>
<title>Javaci Bank - Back Office</title>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="fragments/common.html :: top_menu"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="fragments/common.html :: left_menu"></th:block>
		<div id="layoutSidenav_content">
			<main>

				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header">
									<h3 class="text-center font-weight-light my-4"
										th:text="#{employee.create}"></h3>
								</div>
								<div class="card-body">
									<form th:action="@{/user/changePassword}"
										th:object="${passwordChangeDto}" method="post"
										class="needs-validation" novalidate>

										<div th:if="${passwordNotCorrect}" class="alert alert-danger" role="alert" th:text="#{changePassword.currentPassword.required}"></div>
										
										<div class="form-group">
											<label class="small mb-1" for="inputCurrentPassword"
												th:text="#{changePassword.currentPassword}"></label> <input
												class="form-control py-4" id="inputCurrentPassword"
												type="password"
												th:placeholder="#{changePassword.currentPassword.placeholder}"
												th:field="*{currentPassword}" required />
											<div class="invalid-feedback"
												th:text="#{changePassword.currentPassword.required}"></div>
										</div>
										<div class="form-group">
											<label class="small mb-1" for="inputPassword"
												th:text="#{changePassword.newPassword}"></label> <input
												class="form-control py-4" id="inputPassword" type="password"
												th:placeholder="#{employee.password.placeholder}"
												th:field="*{newPassword}" required />
											<div class="invalid-feedback"
												th:text="#{changePassword.newPassword.required}"></div>
										</div>
										<div class="form-group">
											<label class="small mb-1" for="inputConfirmPassword"
												th:text="#{changePassword.confirmNewPassword}"></label> <input
												class="form-control py-4" id="inputConfirmPassword"
												type="password"
												th:placeholder="#{changePassword.confirmNewPassword.placeholder}"
												th:field="*{confirmNewPassword}" required />
											<div class="invalid-feedback"
												th:text="#{changePassword.confirmNewPassword.required}"></div>
										</div>
										<div class="form-group mt-4 mb-0">
											<button class="btn btn-primary btn-block"
												th:text="#{changePassword.changePassword}"></button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<th:block th:insert="fragments/common.html :: passwordChecker"></th:block>
			</main>
			<th:block th:insert="fragments/common.html :: footer"></th:block>
		</div>
	</div>
	<th:block th:insert="fragments/common.html :: script"></th:block>
</body>
</html>