<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
	    <!-- Common head content is included from common.html  -->
	    <th:block th:insert="/fragments/common.html :: commonhead"></th:block>
	
	    <!-- Include custom head for this head after this line -->
	    <title>Javaci Bank - Create Employee</title>
	
	    <!-- You can create a css with styles only for this page -->
	    <!-- <link href="/css/yourpage.css" rel="stylesheet">-->
        
    </head>
    <body class="sb-nav-fixed">
    
    	<th:block th:insert="/fragments/common.html :: top_menu"></th:block>

        <div id="layoutSidenav">
        
        	<th:block th:insert="/fragments/common.html :: left_menu"></th:block>
        
            <div id="layoutSidenav_content">
                <main>
                	<h2> Employees </h2>
                	<div th:each="e : ${employees}" class="card">
                		<h6 class="card-subtitle mb-2 text-muted" th:text="${e.name + ' ' + e.middleName + '&nbsp;' + e.lastName}">Card subtitle</h6>
                	</div>
                </main>
                
               	<th:block th:insert="/fragments/common.html :: footer"></th:block>
               	
                
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script>
    </body>
</html>
