<!DOCTYPE html>
<html th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="/fragments/common.html :: head"></th:block>
<title>Javaci Bank - Back Office</title>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="/fragments/common.html :: top_menu"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="/fragments/common.html :: left_menu"></th:block>
		<div id="layoutSidenav_content">
			<main>

				<a th:href="@{/?lang=en}">index (English)</a> 
				<a th:href="@{/?lang=tr}">index (Türkçe)</a> 
				
				<br /> 
				<h1 th:text="#{welcomeMsg}"></h1>
				

			</main>
			<th:block th:insert="/fragments/common.html :: footer"></th:block>
		</div>
	</div>
	<th:block th:insert="/fragments/common.html :: script"></th:block>
</body>
</html>