<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="fragments/common.html :: head"></th:block>
<title th:text="#{account.list.title}"></title>

</head>
<body class="sb-nav-fixed">
	<th:block th:insert="fragments/common.html :: top_menu"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="fragments/common.html :: left_menu"></th:block>
		<div id="layoutSidenav_content">
			<main>
				<br /> <br />
				<div class="container-fluid">
					<div class="card">
						<div class="card-header" th:text="#{customer}"></div>
						<div class="card-body">
						
							<div th:remove="tag" th:if="${customer}">
								<br>	
								<table class="col-3">
								  <tr>
								    <td><b class="col-2">ID: </b></td>
								    <td><span class="col-2" th:text="${customer.id}"></span></td>
								  </tr>
								  <tr>
								    <td><b class="col-2"><span th:remove="tag" th:text="#{customer.citizenNumber}"></span>:</b></td>
								    <td><span class="col-2" th:text="${customer.citizenNumber}"></span><br></td>
								  </tr>
								  <tr>
								    <td><b class="col-2"><span th:remove="tag" th:text="#{customer.email}"></span>:</b></td>
								    <td><span class="col-2" th:text="${customer.email}"></span><br></td>
								  </tr>
								  <tr>
								    <td><b class="col-2"><span th:remove="tag" th:text="#{customer.firstName}"></span>:</b></td>
								    <td><span class="col-2" th:text="${customer.firstName}"></span><br></td>
								  </tr>
								  <tr  th:if="${customer.middleName}">
								    <td><b class="col-2"><span th:remove="tag" th:text="#{customer.middleName}"></span>:</b></td>
								    <td><span class="col-2" th:text="${customer.middleName}"></span><br></td>
								  </tr>
								  <tr>
								    <td><b class="col-2"><span th:remove="tag" th:text="#{customer.lastName}"></span>:</b></td>
								    <td><span class="col-2" th:text="${customer.lastName}"></span><br></td>
								  </tr>
								</table>
							</div>
							<br>
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#modalPanel" th:text="#{account.selectCustomer}"></button>
						</div>
					</div>

					<br /> <br />

					<div class="card mb-4" th:if="${customer}">
						<div class="card-header" th:text="#{account.list}">
							<i class="fas fa-table mr-1"></i>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<div th:text="#{common.emptyTable}"
									th:if="${accounts?.isEmpty()}"></div>
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0" >
									<thead>
										<tr>
											<th>ID</th>
											<th th:text="#{account.accountNumber}"></th>
											<th th:text="#{account.accountName}"></th>
											<th th:text="#{account.description}"></th>
											<th th:text="#{account.balance}"></th>
											<th th:text="#{account.currency}"></th>
											<th th:text="#{account.status}"></th>
											<th th:text="#{account.transactions}"></th>
										</tr>
									</thead>
									<tbody>
										<div th:remove="tag" th:each="a : ${accounts}" class="card">
											<tr>
												<td th:text="${a.id}"></td>
												<td th:text="${a.accountNumber}"></td>
												<td th:text="${a.accountName}"></td>
												<td th:text="${a.description}"></td>
												<td th:text="${a.balance}"></td>
												<td th:text="${a.currency}"></td>
												<td th:text="${a.status}"></td>
												<td><a
													th:href="@{/transaction/list(accountId=${a.id})}"
													th:text="#{account.transactions}"></a></td>
											</tr>
										</div>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="modalPanel" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel"
									th:text="#{account.selectCustomerTitle}"></h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<input type="text" id="search-box"
									th:placeholder="#{account.selectCustomer}" />
								<div id="suggesstion-box"></div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal" th:text="#{common.close}"></button>
							</div>
						</div>
					</div>
				</div>
			</main>
			<th:block th:insert="fragments/common.html :: footer"></th:block>
		</div>
	</div>
	<th:block th:insert="fragments/common.html :: script"></th:block>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


	<script>
		$(document)
				.ready(
						function() {
							$("#search-box")
									.keyup(
											function() {
												$
														.ajax({
															type : "POST",
															url : "/customer/getByfilteredCustomers/",
															data : 'keyword='
																	+ $(this)
																			.val(),
															beforeSend : function() {
																$("#search-box")
																		.css(
																				"background",
																				"#FFF url(/img/LoaderIcon.gif) no-repeat 165px");
															},
															success : function(
																	data) {
																$(
																		"#suggesstion-box")
																		.show();

																var html = '<ul id="suggesstion-box-list">';

																for (i = 0; i < data.length; i++) {
																	html += '<li onClick="selectCustomer('
																			+ data[i]['id']
																			+ ');" >'
																			+ data[i]['decription']
																			+ '</li>';
																}

																html += '</ul>';

																$(
																		"#suggesstion-box")
																		.html(
																				html);
																$("#search-box")
																		.css(
																				"background",
																				"#FFF");
															}
														});
											});
						});

		function selectCustomer(id) {
			var currentUrl = window.location.href;

			var newUrl;

			if (currentUrl.includes("customerId=")) {
				var idIndex = currentUrl.indexOf("customerId=")
						+ "customerId=".length;

				if (currentUrl.indexOf("&", idIndex) == -1) {
					newUrl = currentUrl.substring(0, idIndex) + id;
				} else {
					var idEndIndex = currentUrl.indexOf("&", idIndex)
					newUrl = currentUrl.substring(0, idIndex)
							+ id
							+ currentUrl.substring(idEndIndex,
									currentUrl.length);
				}
			} else if (currentUrl.includes("?")) {
				newUrl = window.location.href + "&customerId=" + id;
			} else {
				newUrl = window.location.href + "?customerId=" + id;
			}

			window.location.replace(newUrl);

		}
	</script>


</body>
</html>
