<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="form">
		<ul>
			<li th:each="err : ${#fields.errors('all')}" th:text="${err}" />
		</ul>
		<ul>
			<li th:each="err : ${#fields.errors('global')}" th:text="${err}" />
		</ul>
		<div class="form-row">
			<div class="col-md-12">
				<label class="small mb-1" for="inputCitizenNumber"
					th:text="#{employee.citizenNumber}"> </label> <input
					class="form-control py-4" id="inputCitizenNumber" type="text"
					th:placeholder="#{employee.citizenNumber.placeholder}"
					th:field="*{citizenNumber}" required />
				<div class="invalid-feedback" 
					th:text="#{employee.citizenNumber.required}"></div>
					<span id="citizenNumberUniqeIndexError"></span>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="small mb-1" for="inputFirstName"
						th:text="#{employee.firstName}"></label> <input
						class="form-control py-4" id="inputFirstName" type="text"
						placeholder="Enter first name" th:field="*{firstName}" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="small mb-1" for="inputMiddleName"
						th:text="#{employee.middleName}"></label> <input
						class="form-control py-4" id="inputMiddleName" type="text"
						placeholder="Enter middle name" th:field="*{middleName}" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="small mb-1" for="inputLastName"
						th:text="#{employee.lastName}"></label> <input
						class="form-control py-4" id="inputLastName" type="text"
						placeholder="Enter last name" th:field="*{lastName}" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="small mb-1" for="inputEmailAddress"
				th:text="#{employee.email}"></label> <input
				class="form-control py-4" id="inputEmailAddress" type="email"
				aria-describedby="emailHelp" placeholder="Enter email address"
				th:field="*{email}" />
		</div>
		<div class="form-row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="small mb-1" for="inputPhoneNumber"
						th:text="#{employee.phoneNumber}"></label> <input
						class="form-control py-4" id="inputPhoneNumber" type="text"
						placeholder="Enter phone number" th:field="*{phoneNumber}" />
				</div>
			</div>
			<div class="col-md-6">
				<label class="small mb-1" for="selectStatus"
					th:text="#{employee.status}"></label> <select name="status" class="form-control"
					id="selectStatus" th:field="*{status}">
					<option
						th:each="status : ${T(net.javaci.bank.db.model.enumaration.EmployeeStatusType).values()}"
						th:value="${status}" th:text="${status}"></option>
						
				</select>
			</div>

			<!-- 
			
			    <select class="form-control" id="selectStatus" th:field="*{status}">
			    	<option th:value="'ACTIVE'" th:text="ACTIVE"></option>
			    	<option th:value="'INACTIVE'" th:text="INACTIVE"></option>
			    </select>
			    
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputBirthDate">Birth Date</label>
                                                        <input class="form-control py-4" id="inputBirthDate" type="date" placeholder="Select Birth Date" 
                                                        	th:field="*{birthDate}"/>
                                                    </div>
                                                </div>
                                                 -->
		</div>
		<div class="form-row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="small mb-1" for="inputPassword"
						th:text="#{employee.password}"></label> <input
						class="form-control py-4" id="inputPassword" type="password"
						placeholder="Enter password" th:field="*{password}" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="small mb-1" for="inputConfirmPassword"
						th:text="#{employee.confirmPassword}"></label> <input
						class="form-control py-4" id="inputConfirmPassword"
						type="password" placeholder="Confirm password"
						th:field="*{confirmPassword}" />
					<p th:if="${#fields.hasErrors('confirmPassword')}"
						th:errors="*{confirmPassword}">Error</p>
				</div>
			</div>
		</div>

	</div>



	<div th:fragment="script">
		
		<script th:inline="javascript">
			$(document).ready(function(){
			  $("#inputCitizenNumber").blur(function(){
				  $.get("/employee/checkCitizenNumber/" + this.value, function(data, status){
					  	var title = [[#{employee.citizenNumber.uniqeIndexError}]];
					  	if (data) {
					  		$('#citizenNumberUniqeIndexError').html("hata");
					  		$("#citizenNumberUniqeIndexError").addClass('is-invalid');
					  	} else {
					  		$('#citizenNumberUniqeIndexError').html("hata yok");
					  		$("#citizenNumberUniqeIndexError").addClass('is-valid');
				  		}
					  	 
					  });
			  });
			});
		</script>
	</div>
	
</body>
</html>