<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<th:block th:insert="fragments/common.html :: head"></th:block>
<title th:text="#{employee.list.title}"></title>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="fragments/common.html :: top_menu"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="fragments/common.html :: left_menu"></th:block>
		<div id="layoutSidenav_content">
			<main>
				<br />
				<br />
				<div class="container-fluid">
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table mr-1"></i> <span th:text="#{employees}"></span>
						</div>
						<div class="card-body">
							<a sec:authorize="hasAuthority('ADMIN')" href="/employee/create" class="button"
								th:text="#{employee.createNew}"></a> <br />
							<br />
							<div class="table-responsive">
								<div th:text="#{common	.emptyTable}"
									th:if="${customers?.isEmpty()}"></div>
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0" th:if="${not employees?.isEmpty()}">
									<thead>
										<tr>
											<th>ID</th>
											<th th:text="#{employee.citizenNumber}"></th>
											<th th:text="#{employee.firstName}"></th>
											<th th:text="#{employee.middleName}"></th>
											<th th:text="#{employee.lastName}"></th>
											<th th:text="#{employee.birthDate}"></th>
											<th th:text="#{employee.email}"></th>
											<th th:text="#{employee.phoneNumber}"></th>
											<th th:text="#{employee.status}"></th>
											<th th:text="#{employee.role}"></th>
											<th th:text="#{employee.update}" sec:authorize="hasAuthority('ADMIN')"></th>
										</tr>
									</thead>
									<tbody>
										<div th:remove="tag" th:each="e : ${employees}" class="card">
											<tr>
												<td th:text="${e.id}"></td>
												<td th:text="${e.citizenNumber}"></td>
												<td th:text="${e.firstName}"></td>
												<td th:text="${e.middleName}"></td>
												<td th:text="${e.lastName}"></td>
												<td th:text="${#temporals.format(e.birthDate, 'dd-MM-yyyy')}"></td>
												<td th:text="${e.email}"></td>
												<td th:text="${e.phoneNumber}"></td>
												<td th:text="${e.status}"></td>
												<td th:text="${e.role}"></td>
												<td sec:authorize="hasAuthority('ADMIN')" >
													<a th:href="@{/employee/update/{id}(id=${e.id})}" th:text="#{employee.update}" ></a>
												</td>
											</tr>
										</div>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</main>
			<th:block th:insert="fragments/common.html :: footer"></th:block>
		</div>
	</div>
	<th:block th:insert="fragments/common.html :: script"></th:block>
</body>
</html>
